.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.box-footer {
    margin-left: 1%;
}

button {
    margin-right: 0.3em;
}

.table-actions {
    width: 150px;
}